

.career-list-item {
  @include post_list_base();
}

.page-template-page-careers{
  article{
    h1{
      display: none;
    }
  }

  .career-page-content{
    padding-top: 40px;
    border-top: 1px solid #aeaeae;
  }
}
